{%- liquid
  assign inventory_variant = variant
  if inventory_variant == blank and product
    assign inventory_variant = product.selected_or_first_available_variant
  endif
  assign inventory_threshold_value = inventory_threshold
  if inventory_threshold_value == blank
    assign inventory_threshold_value = 10
  endif
  assign inventory_show_quantity = show_inventory_quantity
  if inventory_show_quantity == blank
    assign inventory_show_quantity = false
  endif
  assign inventory_show_unmanaged = show_when_unmanaged
  if inventory_show_unmanaged == blank
    assign inventory_show_unmanaged = false
  endif
  assign status_text = ''
  assign status_color = ''
  assign status_icon = status_icon
  if status_icon == blank
    assign status_icon = true
  endif
  assign icon_id = icon_id
  if icon_id == blank
    assign icon_id = 'icon-inventory-status.svg'
  endif
  assign icon_wrapper_class = icon_wrapper_class
  if icon_wrapper_class == blank
    assign icon_wrapper_class = 'svg-wrapper'
  endif
  assign root_class = root_class
  if root_class == blank
    assign root_class = 'inventory-status__value'
  endif

  assign inventory_management_value = inventory_management_override
  if inventory_management_value == blank and inventory_variant
    assign inventory_management_value = inventory_variant.inventory_management
  endif
  assign inventory_quantity_value = inventory_quantity_override
  if inventory_quantity_value == blank
    if inventory_variant
      assign inventory_quantity_value = inventory_variant.inventory_quantity
    else
      assign inventory_quantity_value = 0
    endif
  endif
  assign inventory_policy_value = inventory_policy_override
  if inventory_policy_value == blank and inventory_variant
    assign inventory_policy_value = inventory_variant.inventory_policy
  endif
  assign inventory_available_value = available_override
  if inventory_available_value == blank
    if inventory_variant
      assign inventory_available_value = inventory_variant.available
    else
      assign inventory_available_value = false
    endif
  endif
-%}
{%- if inventory_variant or inventory_management_value != blank -%}
  {%- if inventory_management_value == 'shopify' -%}
    {%- if inventory_quantity_value > 0 -%}
      {%- if inventory_quantity_value <= inventory_threshold_value -%}
        {%- assign status_color = 'rgb(238, 148, 65)' -%}
        {%- if inventory_show_quantity -%}
          {%- assign status_text = 'products.product.inventory_low_stock_show_count'
            | t: quantity: inventory_quantity_value
          -%}
        {%- else -%}
          {%- assign status_text = 'products.product.inventory_low_stock' | t -%}
        {%- endif -%}
      {%- else -%}
        {%- assign status_color = 'rgb(62, 214, 96)' -%}
        {%- if inventory_show_quantity -%}
          {%- assign status_text = 'products.product.inventory_in_stock_show_count'
            | t: quantity: inventory_quantity_value
          -%}
        {%- else -%}
          {%- assign status_text = 'products.product.inventory_in_stock' | t -%}
        {%- endif -%}
      {%- endif -%}
    {%- else -%}
      {%- if inventory_policy_value == 'continue' -%}
        {%- assign status_color = 'rgb(62, 214, 96)' -%}
        {%- assign status_text = 'products.product.inventory_out_of_stock_continue_selling' | t -%}
      {%- else -%}
        {%- assign status_color = 'rgb(200, 200, 200)' -%}
        {%- assign status_text = 'products.product.inventory_out_of_stock' | t -%}
      {%- endif -%}
    {%- endif -%}
  {%- elsif inventory_show_unmanaged and inventory_available_value -%}
    {%- assign status_color = 'rgb(62, 214, 96)' -%}
    {%- if inventory_show_quantity and inventory_quantity_value -%}
      {%- assign status_text = 'products.product.inventory_in_stock_show_count'
        | t: quantity: inventory_quantity_value
      -%}
    {%- else -%}
      {%- assign status_text = 'products.product.inventory_in_stock' | t -%}
    {%- endif -%}
  {%- endif -%}
{%- endif -%}
{%- if status_text != blank -%}
  <span class="{{ root_class }}">
    {%- if status_icon -%}
      <span class="{{ icon_wrapper_class }}" style="color: {{ status_color }}">
        {{- icon_id | inline_asset_content -}}
      </span>
    {%- endif -%}
    {{- status_text -}}
  </span>
{%- endif -%}
