{% comment %}
  Renders a product media modal. Also see 'product-media-gallery'

  Accepts:
  - product: {Object} Product liquid object
  - variant_images: {Array} Product images associated with a variant

  Usage:
  {% render 'product-media-modal' %}
{% endcomment %}

{%- liquid
  assign selected_variant = selected_variant | default: product.selected_or_first_available_variant

  assign selected_variant_files = ''
  if selected_variant
    assign selected_variant_files = selected_variant.metafields.custom_image.additional_image_link.value | default: ""
  endif

  if selected_variant_files.size > 0
    assign media_count = selected_variant_files.size
  else
    assign media_count = product.media.size
    if section.settings.hide_variants and media_count > 1 and variant_images.size > 0
      assign media_count = media_count | minus: variant_images.size | plus: 1
    endif
  endif
-%}

<product-modal id="ProductModal-{{ section.id }}" class="product-media-modal media-modal">
  <div
    class="product-media-modal__dialog color-{{ section.settings.color_scheme }} gradient"
    role="dialog"
    aria-label="{{ 'products.modal.label' | t }}"
    aria-modal="true"
    tabindex="-1"
  >
    <button
      id="ModalClose-{{ section.id }}"
      type="button"
      class="product-media-modal__toggle"
      aria-label="{{ 'accessibility.close' | t }}"
    >
      {{ 'icon-close.svg' | inline_asset_content }}
    </button>

    {%- comment -%} Hover thumbnails for modal {%- endcomment -%}
    {%- if media_count > 1 -%}
      <div class="product__modal-thumbnails" aria-hidden="true">
        <ul class="product__hover-thumbnails-list list-unstyled">
          {%- if selected_variant_files.size > 0 -%}
            {%- for file in selected_variant_files -%}
              <li
                class="product__hover-thumbnail-item{% if forloop.first %} is-active{% endif %}"
                data-modal-media-index="{{ forloop.index0 }}"
              >
                <button type="button" class="product__hover-thumbnail-button">
                  {%- if file.media_type == 'video' -%}
                    <span class="product__hover-thumbnail-play-icon">
                      <span class="svg-wrapper">
                        {{- 'icon-play.svg' | inline_asset_content -}}
                      </span>
                    </span>
                    <img
                      src="{{ file.preview_image | image_url: width: 200 }}"
                      loading="lazy"
                      width="100"
                      height="100"
                      alt="{{ file.alt | escape }}"
                    >
                  {%- else -%}
                    <img
                      src="{{ file | image_url: width: 200 }}"
                      loading="lazy"
                      width="100"
                      height="100"
                      alt="{{ file.alt | escape }}"
                    >
                  {%- endif -%}
                </button>
              </li>
            {%- endfor -%}
          {%- else -%}
            {%- assign thumb_index = 0 -%}
            {%- if selected_variant and selected_variant.featured_media != null -%}
              {%- assign featured_media = selected_variant.featured_media -%}
              <li
                class="product__hover-thumbnail-item is-active"
                data-modal-media-index="{{ thumb_index }}"
              >
                <button type="button" class="product__hover-thumbnail-button">
                  {%- if featured_media.media_type == 'video' or featured_media.media_type == 'external_video' -%}
                    <span class="product__hover-thumbnail-play-icon">
                      <span class="svg-wrapper">
                        {{- 'icon-play.svg' | inline_asset_content -}}
                      </span>
                    </span>
                  {%- elsif featured_media.media_type == 'model' -%}
                    <span class="product__hover-thumbnail-play-icon">
                      <span class="svg-wrapper">
                        {{- 'icon-3d-model.svg' | inline_asset_content -}}
                      </span>
                    </span>
                  {%- endif -%}
                  <img
                    src="{{ featured_media.preview_image | image_url: width: 200 }}"
                    loading="lazy"
                    width="100"
                    height="100"
                    alt="{{ featured_media.alt | escape }}"
                  >
                </button>
              </li>
              {%- assign thumb_index = thumb_index | plus: 1 -%}
            {%- endif -%}
            {%- for media in product.media -%}
              {%- unless media.id == selected_variant.featured_media.id -%}
                {%- if section.settings.hide_variants and variant_images contains media.src -%}
                  {%- continue -%}
                {%- endif -%}
                <li
                  class="product__hover-thumbnail-item{% if selected_variant.featured_media == nil and forloop.first %} is-active{% endif %}"
                  data-modal-media-index="{{ thumb_index }}"
                >
                  <button type="button" class="product__hover-thumbnail-button">
                    {%- if media.media_type == 'video' or media.media_type == 'external_video' -%}
                      <span class="product__hover-thumbnail-play-icon">
                        <span class="svg-wrapper">
                          {{- 'icon-play.svg' | inline_asset_content -}}
                        </span>
                      </span>
                    {%- elsif media.media_type == 'model' -%}
                      <span class="product__hover-thumbnail-play-icon">
                        <span class="svg-wrapper">
                          {{- 'icon-3d-model.svg' | inline_asset_content -}}
                        </span>
                      </span>
                    {%- endif -%}
                    <img
                      src="{{ media.preview_image | image_url: width: 200 }}"
                      loading="lazy"
                      width="100"
                      height="100"
                      alt="{{ media.alt | escape }}"
                    >
                  </button>
                </li>
                {%- assign thumb_index = thumb_index | plus: 1 -%}
              {%- endunless -%}
            {%- endfor -%}
          {%- endif -%}
        </ul>
      </div>
    {%- endif -%}

    <div
      class="product-media-modal__content color-{{ section.settings.color_scheme }} gradient"
      role="document"
      aria-label="{{ 'products.modal.label' | t }}"
      tabindex="0"
    >
      {%- liquid
        assign selected_variant = selected_variant | default: product.selected_or_first_available_variant

        assign selected_variant_files = ''
        if selected_variant
          assign selected_variant_files = selected_variant.metafields.custom_image.additional_image_link.value | default: ""
        endif
      -%}

      {%- if selected_variant_files.size > 0 -%}
        {%- comment -%} Render files from additional_image_link metafield {%- endcomment -%}
        {%- for file in selected_variant_files -%}
          {%- render 'product-metafield-modal-media', file: file, position: forloop.index, loop: section.settings.enable_video_looping -%}
        {%- endfor -%}
      {%- else -%}
        {%- comment -%} Fallback to product.media {%- endcomment -%}
        {%- liquid
          if selected_variant and selected_variant.featured_media != null
            assign media = selected_variant.featured_media
            render 'product-media', media: media, loop: section.settings.enable_video_looping, variant_image: section.settings.hide_variants
          endif
        -%}

        {%- for media in product.media -%}
          {%- liquid
            if section.settings.hide_variants and variant_images contains media.src or variant_images contains media.id
              assign variant_image = true
            else
              assign variant_image = false
            endif

            unless media.id == selected_variant.featured_media.id
              render 'product-media', media: media, loop: section.settings.enable_video_looping, variant_image: variant_image
            endunless
          -%}
        {%- endfor -%}
      {%- endif -%}
    </div>
  </div>
</product-modal>
