{% comment %}
  Renders a product media item from a metafield file (image or video)

  Accepts:
  - file: {Object} File object from metafield (image or video)
  - media_count: {Number} Number of media objects
  - position: {Number} Position of the media. Used for accessible label.
  - desktop_layout: {String} Layout of the media for desktop.
  - mobile_layout: {String} Layout of the media for mobile.
  - loop: {Boolean} Enable video looping (optional)
  - modal_id: {String} The product modal that will be shown by clicking the thumbnail
  - constrain_to_viewport: {Boolean} Force media height to fit within viewport
  - media_fit: {String} Method ("contain" or "cover") to fit image into container
  - media_width: {Float} The width percentage that the media column occupies on desktop.
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)

  Usage:
  {% render 'product-metafield-media',
    file: file,
    position: forloop.index,
    loop: section.settings.enable_video_looping,
    modal_id: section.id
  %}
{% endcomment %}

{%- liquid
  unless lazy_load == false
    assign lazy = 'lazy'
  endunless

  assign desktop_columns = 1
  assign mobile_columns = 1

  assign is_video = false
  if file.media_type == 'video'
    assign is_video = true
  endif

  if is_video == false
    assign image_class = 'image-magnify-' | append: section.settings.image_zoom
  endif

  assign aspect_ratio = file.aspect_ratio | default: 1.0
-%}

{%- capture sizes -%}
  (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | times: media_width | divided_by: desktop_columns | round }}px, (min-width: 990px) calc({{ media_width | times: 100 | divided_by: desktop_columns }}vw - 10rem), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw / {{ mobile_columns }} - 4rem)
{%- endcapture -%}

<lazy-media
  class="product-media-container media-type-{{ file.media_type | default: 'image' }} media-fit-{{ media_fit }} global-media-settings gradient{% if constrain_to_viewport %} constrain-height{% endif %}"
  style="--ratio: {{ aspect_ratio }}; --preview-ratio: {{ aspect_ratio }};"
  data-media-type="{{ file.media_type | default: 'image' }}"
>
  {%- if is_video -%}
    <div class="media media--transparent lazy-media__video-wrapper" data-media-id="{{ position }}">
      <video
        class="lazy-media__video"
        muted
        playsinline
        {% if loop %}loop{% endif %}
        preload="none"
        poster="{{ file.preview_image | image_url: width: 1946 }}"
        style="cursor: pointer;"
      >
        <source data-src="{{ file.sources[0].url }}" type="video/mp4">
        <img src="{{ file.preview_image | image_url: width: 1946 }}" alt="">
      </video>
      <div class="lazy-media__preloader">
        <div class="lazy-media__spinner">
          <svg xmlns="http://www.w3.org/2000/svg" class="spinner" viewBox="0 0 66 66" aria-hidden="true">
            <circle stroke-width="6" cx="33" cy="33" r="30" fill="none" class="path"/>
          </svg>
          <span class="visually-hidden">{{ 'accessibility.loading' | t }}</span>
        </div>
      </div>
    </div>
  {%- else -%}
    <modal-opener
      class="product__modal-opener product__modal-opener--image"
      data-modal="#ProductModal-{{ modal_id }}"
    >
      <span
        class="product__media-icon motion-reduce quick-add-hidden product__media-icon--{{ section.settings.image_zoom }}"
        aria-hidden="true"
      >
        <span class="svg-wrapper">
          {{- 'icon-zoom.svg' | inline_asset_content -}}
        </span>
      </span>
      {%- render 'loading-spinner' -%}
      <div class="product__media media media--transparent">
        <img
          class="{{ image_class }}"
          src="{{ file | image_url: width: 1946 }}"
          loading="lazy"
          sizes="{{ sizes }}"
          width="1946"
          alt="{{ file.alt | escape }}"
        >
      </div>
      <button
        class="product__media-toggle quick-add-hidden product__media-zoom-{{ section.settings.image_zoom }}"
        type="button"
        aria-haspopup="dialog"
        data-media-id="{{ position }}"
      >
        <span class="visually-hidden">
          {{ 'products.product.media.open_media' | t: index: position }}
        </span>
      </button>
    </modal-opener>
  {%- endif -%}
</lazy-media>
